@model Starter.Models.BandModel

<partial name="_Band"/> 
        
<button class="btn btn-primary">
    <a class="nav-link text-light" asp-area="" asp-controller="Primary" asp-action="CreateAlbumForm" asp-route-bandID = "@Model.id">Add Album</a>
</button>

<div class="card-group">
  <div class="card">
    @foreach (AlbumModel album in @Model.albums)
    {
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">@album.title</h5>
          <h3 class="card-text">@album.yearReleased</h3>
        </div>
    </div>
    }
</div>
