@* use partials to render form fields *@
@model Starter.Models.BandModel
<h1>Add a Band</h1>
@using (@Html.BeginForm("CreateBand", "Primary"))
{
    <partial name = "_BandForm"/>
    <button type="submit" class="btn btn-primary">Submit</button>
}