@model Starter.DAO.StarterDbContext
<h1>Bands!</h1>
@* use partials to render band info *@

@foreach (BandModel band in @Model.bands)
{
    <div>
        <partial name="_Band" model = "band"/> 
        <button class="btn btn-primary">
            <a class="nav-link text-light" asp-area="" asp-controller="Primary" asp-action="UpdateBandForm" asp-route-id = "@band.id">UPDATE</a>
        </button>
        
        <button class="btn btn-primary">
            <a class="nav-link text-light" asp-area="" asp-controller="Primary" asp-action="BandDetails" asp-route-id = "@band.id">DETAILS</a>
        </button>
    </div>   
}